


.benefits .headerContainer button {
    font-family: 'Times New Roman';
   
    
}

.headerContainer button:hover{
    font-family: 'Times New Roman';
    background-color: green;
    cursor:pointer;
    transition: 0.3s ease-in;
}